<?xml version='1.0' encoding='UTF-8'?>
<DataDefinition>
	<Element>
		<source>
			<sourcePath>C:\tibco\designer\5.11\Files\Input\Portugal\</sourcePath>
			<sourceFilePattern>*</sourceFilePattern>
		</source>
		<target>
			<targetPath>C:\tibco\designer\5.11\Files\Output\Portugal\</targetPath>
		</target>
		<messageSelector>PT</messageSelector>
	</Element>
	<Element>
		<source>
			<sourcePath>C:\tibco\designer\5.11\Files\Input\Spain\</sourcePath>
			<sourceFilePattern>*</sourceFilePattern>
		</source>
		<target>
			<targetPath>C:\tibco\designer\5.11\Files\Output\Spain\</targetPath>
		</target>
		<messageSelector>SP</messageSelector>
	</Element>
	<Element>
		<source>
			<sourcePath>C:\tibco\designer\5.11\Files\Input\Germany\</sourcePath>
			<sourceFilePattern>*</sourceFilePattern>
		</source>
		<target>
			<targetPath>C:\tibco\designer\5.11\Files\Output\Germany\</targetPath>
		</target>
		<messageSelector>GER</messageSelector>
	</Element>
</DataDefinition>